<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
<body style="margin: 0px; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; background-color: #f7f7f9;">
<style type="text/css">
  #header {
	background-color: #2C2C2C;
	width: 100%;
  }

  body {
    margin: 0px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: #f7f7f9;
  }

 #main {
	padding-left: 20px;
 } 
</style>
<div id="header" style="background-color: #2C2C2C; width: 100%;">
	<a class="brand" href="/mailboxes">
		<img alt="Ucsc-header" src="http://www.ucsc.cl/wp-content/themes/ucsc/img/logo/ucsc-header.png" style="margin:10px">
	</a>
</div>

<div id="main" style="padding-left: 20px;">

  <p>Hola</p>

<p>Te enviamos este mensaje para avisar que el cambio de contraseña de tu cuenta <%= @mailbox.email %> fue realizado correctamente.<br/>
	<br/>Puedes enviarnos cualquier consulta que tengas tan solo respondiendo este correo.
	</p>
</div>
</body>
</html>