<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
<body style="margin: 0px; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;">
<style type="text/css">
  #header {
	background-color: #2C2C2C;
	width: 100%;
  }

  body {
    margin: 0px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

 #main {
	padding-left: 20px;
 } 
</style>
<div id="header" style="background-color: #2C2C2C; width: 100%;">
	<a class="brand" href="/mailboxes">
		<img alt="Ucsc-header" src="http://www.ucsc.cl/wp-content/themes/ucsc/img/logo/ucsc-header.png" style="margin:10px">
	</a>
</div>

<div id="main" style="padding-left: 20px;">

  <p>Hola</p>

<p>Hace poco solicitaste un link para restaurar la contrase침a de tu cuenta <%= @mailbox.email %><br/>
	Por favor ingresa una nueva contrase침a en el siguiente link:
	</p>

<p><%= link_to edit_password_reset_url(@mailbox, :reset_password_token => @mailbox.password_reset_token), edit_password_reset_url(@mailbox, :reset_password_token => @mailbox.password_reset_token) %></p>

<p>Ignora este correo en caso de que no hayas solicitado el cambio.<br/>
Tu contrase침a no cambiar치 hasta que ingreses al enlace y crees una nueva.</p>
</div>
<div id="footer" style="width: 100%; margin-top: 40px; border-top: 1px solid #BCBCBE; padding-top: 10px;";>
	<%= image_tag "LogoPlataformas.jpg" %>
</div>
</body>
</html>